* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-weight: 400;
    line-height: 14px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 500;
    line-height: 57.6px;
    font-size: 36px;
    text-transform: uppercase;
}

h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 25.2px;
}

.ltl-grey {
    color: #768298;
    line-height: 22.4px;
    font-size: 14px;
}

.swapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 135px;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 135px;
    height: 30px;
    text-decoration: none;
}

.logo-text {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    color: #F95A59;
}

.search {
    flex-grow: 1;
    margin: 0 50px;
}

.search input {
    min-width: 135px;
    width: 100%;
    padding: 9px 0 9px 20px;
    border: 1px solid #768298;
    border-radius: 6px;
}

.search input:focus {
    outline-color: #768298;
}

.phone {
    margin-right: 30px;
    width: 143px;
    height: 47px;
}

.phone .phone-number {
    font-size: 18px;
    line-height: 28.8px;
}

.phone .phone-text {}



.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.btn .btn-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px;
}

.btn .btn-content span {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
}

.btn .btn-content i {
    margin-left: 10px;
    font-size: 14px;
    line-height: 14px;
}

.mt-30 {
    margin-top: 30px;
}

.btn.short .btn-content {
    padding: 13px 30px;
}

.btn.icon .btn-content {
    padding: 12px;
}

.btn.icon .btn-content i {
    margin: 0px;
    font-size: 23.1px;
    line-height: 26px;
}

.btn-blue {
    background: #34AADD;
}

.btn-blue .btn-content span {
    color: white;
}

.btn-blue .btn-content i {
    color: white;
}




.btn-white {
    background: white;
    border: 1px solid #34AADD;
}

.btn-white .btn-content span {
    color: #34AADD;
}

.btn-white .btn-content i {
    color: #34AADD;
}



.navbar-footer {
    width: 100%;
    height: 60px;
}

.navbar-footer ul {
    list-style: none;
    font-size: 18px;
    display: inline-flex;
    justify-content: space-between;
    width: 786px;
}

.navbar-footer ul li a {
    text-decoration: none;
    color: #768298;
    line-height: 28.8px;
}

.navbar-footer ul li a.active {
    color: #F95A59;
}

.navbar-footer ul li a:hover {
    color: #F95A59;
}

.popular {
    padding: 90px 0;
}

.popular_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.product {
    width: 270px;
    height: 372px;
    border: 1px solid #EBEBF1;
    border-radius: 6px;
    overflow: hidden;
}


.product-photo {
    height: 174px;
    /*background: url('https://cdn.wallpapersafari.com/10/50/JMKjz9.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rowIcons {
    display: flex;
    padding: 10px;
}

.rowIcons-icon {
    padding: 3px 10px;
    color: white;
    font-size: 14px;
    line-height: 22.4px;
    border-radius: 3px;
}

.action {
    margin-right: 3px;
    background: #FAC300;
}

.hit {
    margin-right: 3px;
    background: #DC2C53;
}

.bestPrice {
    background: #a7507b;
}

.product-middle {
    padding: 10px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-text {
	max-height: 121px;
	overflow: hidden;
}

.product-text p {
	margin-top: 5px;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.price-old span, .price-old i {
	line-height: 19.6px;
	font-size: 14px;
	color: #768298;
}

.price-new span, .price-new i {
	line-height: 22.4px;
	font-size: 16px;
	font-weight: 700;
}

.diagonale {
	position: relative;
	top: 10px;
	transform: rotate(23deg);
	display: block;
	width: 100%;
	height: 2px;
	background: #F95A59;
}

.new {
    padding: 50px 0;
    background: #f0f0f0;
}

.new_blocks {
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new-block {
    height: 369px;
    border-radius: 6px;
}

.new-block:nth-child(odd) {
    margin-right: 30px;
    /*margin-bottom: 30px;*/
}

.new-block.short {
    width: 369px;
    flex-grow: 0
}

.new-block.long {
    max-width: 770px;
    min-width: 369px;
    /*width: 770px;*/
    flex-grow: 1;
    margin-bottom: 30px;
}

 #b6 {
    background: #34AADD;
}
#b7 {
    background: rgba(167, 80, 123, .8);
}
#b8 {
    background: rgba(102, 128, 174, .8);
}
#b9 {
    background: #F95A59;
}


